.cardsGoods {
  padding: 45px 10px;
}
.padBlockGoods {
  text-align: center;
}
.Carta {
  background-color: #252525;
  border-radius: 3px;
  padding-bottom: 10px;
}
.CardsGoodsJsx {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.textRowGoods {
  padding: 20px 0;
  line-height: 200%;
}
.upPartText {
  margin-bottom: 40px;
  line-height: 185%;
}
.goodsText1 {
  color: #252525;
  font-weight: 500;
}
.textGoods {
  color: white;
  font-size: 22px;
  font-weight: 500;
}
.colorChangeGoods {
  color: #c39b73;
}
.priceGoods {
  font-size: 20px;
  font-weight: 600;
}
.addBtn {
  margin-top: 40px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  background-color: #c39b73;
  color: #fff;
  border-radius: 7px;
  transition: all 0.6s;
  border: 1px solid #c39b73;
  cursor: pointer;
}
.addBtn:hover {
  background-color: #252525;
  color: #c39b73;
  border: 1px solid white;
}
.elemLine {
  padding-top: 10px;
}
.line {
  margin: 10px;
  border-top: 2px dotted #252525;
}
@media screen and (max-width: 820px) {
  .textGoods {
    font-size: 18px;
  }
  .priceGoods {
    font-size: 18px;
  }
  .addBtn {
    margin-top: 35px;
    padding: 4px 14px;
    font-size: 14px;
    font-weight: bold;
  }
}
@media screen and (max-width: 620px) {
  .Carta:nth-last-of-type(1) {
    display: none;
  }
  .CardsGoodsJsx {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 390px) {
  .CardsGoodsJsx {
    grid-template-columns: repeat(1, 1fr);
  }
}
