
.icon-accessibility:before { content: '\e800'; } /* '' */
.icon-blind:before { content: '\e801'; } /* '' */
.icon-person:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-spin5:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-wheelchair-alt:before { content: '\f29b'; } /* '' */
.icon-blind-1:before { content: '\f29d'; } /* '' */
.icon-sign-language:before { content: '\f2a7'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
