*,
*::after,
*::before {
  border: 0;
  font-family: "Carlito", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  background-color: #c39b73;
}
.header {
  width: 1200px;
  padding-top: 20px;
}
._conteiner {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: content-box;
}
.navBlock {
  margin: 0 0 0 50px;
  position: relative;
}
.logoMainCoffe {
  display: flex;
  align-items: center;
}
.NavMenuBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.NavMenu {
  display: flex;
}
.elemMainPage:not(:last-child) {
  margin: 0 27px 0 0;
}
/* Стили для анимации подменю */
.elemMainPage {
  font-size: 18px;
  position: relative;
  transition: color 0.6s ease;
}
.elemMainPage:hover > a {
  color: white;
  text-decoration: underline;
}
.elemMainPage a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
.elemMainPage:hover > ul {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.elemMainPage:hover > .DopWindow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/* Подменю */
.DopWindow {
  position: absolute;
  left: 0;
  background-color: #252525;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 99;
}
.DopElemMainPage {
  padding: 8px 20px;
  color: #c39b73;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.DopElemMainPage:hover {
  background-color: #c39b73;
  color: #252525;
  cursor: pointer;
}
.profile {
  margin-right: 7px;
}
/* ---Shopping Cart Block CSS --- */
.shopCard {
  position: absolute;
  top: 45px;
  width: 300px;
  background: #252525;
  right: 0;
  z-index: 99;
  -webkit-box-shadow: -14px 13px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 13px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 13px 20px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 15px;
}
.shopBinText {
  text-align: center;
  color: #c39b73;
  font-size: 18px;
}
.cartItem {
  width: 100%;
  margin-top: 7px;
}
.cartImg {
  width: 70px;
  float: left;
  margin-right: 20px;
}
.tShopCart {
  color: #c39b73;
  font-size: 20px;
}
.pShopCart {
  color: #c39b73;
  font-weight: bold;
}
.btnRemoveGoods {
  margin-top: 7px;
  padding: 4px 8px;
  background-color: #c39b73;
  color: #fff;
  border-radius: 9px;
  transition: all 0.4s;
  font-size: 15px;
}
.btnRemoveGoods:hover {
  background-color: white;
  color: #252525;
}
.iconsMainPage {
  display: flex;
}
.iconsMainPage a {
  transition: color 0.4s;
  font-size: 18px;
}
.iconsMainPage a:hover {
  color: white;
}
/* ---sliderBlock CSS --- */
.slider {
  width: 100%;
  margin: 0 auto;
  z-index: 98;
}
.elemCoffe {
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 10px 0 30px;
  display: flex;
  flex-direction: column;
}
.imgScrollElem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-size: contain;
  background-position: center;
  background-size: cover;
  position: relative;
}
.textContainer {
  flex-direction: column;
  position: absolute;
  top: 46%;
  left: 36%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 0 10px;
}
.scrollName {
  margin-bottom: 10px;
  font-size: 90px;
}
.titleScrlolElemMenu {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 600;
}
.title2ScrolElemMenu {
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: 600;
}
.btnShop {
  flex-direction: column;
  padding: 18px 46px;
  text-align: center;
  background-color: #252525;
  color: #fff;
  border-radius: 9px;
  transition: all 0.4s;
  font-size: 17px;
}
.btnShop:hover {
  background-color: white;
  color: #252525;
}
.logoBurger {
  display: none;
}
.MenuMobile {
  display: none;
}
.closeIcon {
}
.sumShoppingCart {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #c39b73;
}
.quantityShopCart {
  font-size: 17px;
  color: #c39b73;
}
@media screen and (max-width: 998px) {
  .scrollName {
    font-size: 70px;
  }
  .titleScrlolElemMenu {
    font-size: 28px;
  }
  .title2ScrolElemMenu {
    font-size: 18px;
  }
}
@media screen and (max-width: 867px) {
  .NavMenuBlock {
    padding: 20px 10px 10px;
    justify-content: space-between;
  }
  .MenuMobile {
    display: block;
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    z-index: 100;
  }
  .navBlock {
    display: none;
  }
  .logoBurger {
    display: block;
    right: 0;
  }
  .blockNav {
    color: white;
  }
  .navMobile {
    border: 2px solid #c39b73;
    border-radius: 10px;
    padding: 70px 60px;
    font-size: 35px;
    background-color: #252525;
    box-shadow: 0 0 10px;
  }
  .blockNavGl {
    font-size: 47px;
    font-weight: 600;
    color: #c39b73;
  }
}
@media screen and (max-width: 510px) {
  .imgScrollElem {
    height: 500px;
  }
  .textContainer {
    top: 46%;
    left: 42%;
    transform: translate(-50%, -50%);
  }
  .scrollName {
    font-size: 55px;
  }
  .titleScrlolElemMenu {
    font-size: 22px;
  }
  .title2ScrolElemMenu {
    font-size: 16px;
  }
  .btnShop {
    padding: 14px 36px;
    font-size: 16px;
  }
}
