*,
*::after,
*::before {
  border: 0;
  font-family: "Carlito", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  background-color: #c39b73;
}
.header {
  width: 1200px;
  padding-top: 20px;
}
._conteiner {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: content-box;
}
.navBlock {
  margin: 0 0 0 50px;
  position: relative;
}
.logoMainCoffe {
  display: flex;
  align-items: center;
}
.NavMenuBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.NavMenu {
  display: flex;
}
.elemMainPage:not(:last-child) {
  margin: 0 27px 0 0;
}
.elemMainPage {
  font-size: 18px;
  transition: all 0.4s;
}
.elemMainPage:hover,
.shop.active {
  color: white;
}
.profile {
  margin-right: 7px;
}
/* ---Shopping Cart Block CSS --- */
.shopCard {
  position: absolute;
  top: 45px;
  width: 300px;
  background: #252525;
  right: 0;
  z-index: 10;
  -webkit-box-shadow: -14px 13px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 13px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 13px 20px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 15px;
}
.shopBinText {
  text-align: center;
  color: #c39b73;
  font-size: 18px;
}
.cartItem {
  width: 100%;
  margin-top: 7px;
}
.cartImg {
  width: 70px;
  float: left;
  margin-right: 20px;
}
.tShopCart {
  color: #c39b73;
  font-size: 20px;
}
.pShopCart {
  color: #c39b73;
  font-weight: bold;
}
.btnRemoveGoods {
  margin-top: 7px;
  padding: 4px 8px;
  background-color: #c39b73;
  color: #fff;
  border-radius: 9px;
  transition: all 0.4s;
  font-size: 15px;
}
.btnRemoveGoods:hover {
  background-color: white;
  color: #252525;
}
.DopWindow {
  position: absolute;
  text-align: center;
  display: none;
  padding: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.DopWindow:hover {
  transition: all 0.6s;
  border-radius: 12px;
  background-color: #252525;
  position: absolute;
  z-index: 10;
  display: block;
  color: #c39b73;
}
.elemMainPage:hover > ul {
  transition: all 0.6s;
  display: block;
}
.iconsMainPage {
  display: flex;
}
.iconsMainPage a {
  transition: color 0.4s;
  font-size: 18px;
}
.iconsMainPage a:hover {
  color: white;
}
/* ---sliderBlock CSS --- */
.slider {
  width: 100%;
  margin: 0 auto;
}
.elemCoffe {
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 10px 0 30px;
  display: flex;
  flex-direction: column;
}
.imgScrollElem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-size: contain;
  background-position: center;
  position: relative;
}
.textContainer {
  flex-direction: column;
  position: absolute;
  top: 46%;
  left: 36%;
  transform: translate(-50%, -50%);
  color: white;
}
.scrollName {
  margin-bottom: 10px;
  font-size: 90px;
}
.titleScrlolElemMenu {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 600;
}
.title2ScrolElemMenu {
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: 600;
}
.btnShop {
  flex-direction: column;
  padding: 18px 46px;
  text-align: center;
  background-color: #252525;
  color: #fff;
  border-radius: 9px;
  transition: all 0.4s;
  font-size: 17px;
}
.btnShop:hover {
  background-color: white;
  color: #252525;
}
