.slider {
  background-image: url(../../imges/bgTestimon.png);
  background-position: center;
}
.testimText1 {
  color: #c39b73;
}
.forColorTestim {
  color: #c39b73;
}
.elemTestimonials {
  width: 800px;
  height: fit-content;
  margin: 5px 0;
}
.limit {
  width: 1200px;
  margin: 0 auto;
}
